<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.information.dao.RelativeDao">
    <!--批量插入文件 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into `relative`(rid,`name`,age,appellation,politicaloutlook,workunit,inforid)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.rid},
            #{item.name},
            #{item.age},
            #{item.appellation},
            #{item.politicaloutlook},
            #{item.workunit},
            #{item.inforid}
            )
        </foreach>
    </insert>
</mapper>